.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #2cd234;
}

.ng-invalid:not(form) {
    border-left: 5px solid #c92623;
}

/* Styles for the container */
.container {
    margin: 20px auto;
    padding: 0;
    max-width: 800px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
}

/* Styles for the form title */
h1 {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #42b6e5;
}

.container form {
    padding: 20px;
}

/* Styles for the form sections */
.form-section {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for the form labels */
label {
    font-weight: bold;
    color: #0398d3;
    display: block;
    margin-bottom: 5px;
}

.form-group input{
    display: flex;
    width: 95%;
    height: 25px;
    overflow: auto;
}

/* Styles for the form inputs */
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: border-color 0.2s;
}

/* Styles for the error messages */
.alert-danger {
    color: #d9534f;
}

/* Styles for the buttons */
.btn-success,
.btn-default,
.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-success {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    margin-right: 10px;
}

.btn-success:hover {
    background-color: #449d44;
}

.btn-default {
    background-color: #fff;
    color: #42b6e5;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.btn-default:hover {
    background-color: #eee;
}


/* Additional styling for select element */
.select-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #fff;
}

