<div class="lobby">
    <div class="game-info">
        <h2>Código de Juego: {{ game?._id }}</h2>
        <button class="start-button" (click)="startGame()">Comenzar</button>
    </div>

    <div class="user-list">
        <h3>Jugadores en la partida:</h3>
        <div class="user-cards">
            <div class="user-card" *ngFor="let user of game?.users">
                <div class="user-display">
                    {{ user }}
                </div>
            </div>
        </div>
    </div>
</div>