<form action="#" [formGroup]="formLogin" (ngSubmit)="login()">
  <h1>Iniciar Sesión</h1>
  <div class="social-container">
    <div href="#" class="social happy"><i class="gg-smile-mouth-open"></i></div>
    <div href="#" class="social neutral"><i class="gg-smile-neutral"></i></div>
    <div href="#" class="social sad"><i class="gg-smile-sad"></i></div>
  </div>
  <span>¿Así que tienes una cuenta?</span>
  <span>Inicia sesión aquí</span>
  <input
    type="text"
    formControlName="username"
    placeholder="Usuario"
  />
  <input
    type="password"
    formControlName="password"
    placeholder="Contraseña"
  />
<button [disabled]="!formLogin.valid" type="submit" click="create-room">Iniciar Sesión</button>
  <a href="register">Crea un nuevo usuario</a>
</form>
