.layout {
  display: block;
}

.row {
  background-color: #ff4b2b;
}

.header {
  padding: 0;
  height: 10vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  border: 3px solid black;
  border-radius: 15px;
  padding: 5px;
}
.logo {
  display: flex;
  align-self: center;
  height: 99%;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
  text-align: center;
  background-color: black;
  height: 5vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

footer p {
  margin: 10px 0;
}

footer i {
  color: red;
}

footer a {
  color: #d9534f;
  text-decoration: none;
}
