.layout {
    display: block;
}

.row{
    background-color: #FF4B2B;
}

.header {
    padding: 0;
	height: 65px;
	background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    border-bottom: 3px solid #FF4B2B;
}
.logo {
    display: flex;
    align-self: center;
    padding: 0px;
    margin: 0;
    height: inherit;
}
h1 {
    text-align: center;
    align-self: center;
	color: #FF4B2B;
	font-family: "kapra-bold", sans-serif;
    font-weight: 850;
	font-size: 42px;
    margin: 0;
}

h1:hover{
    color: rgb(121, 35, 20);    
}