<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 card" *ngFor="let act of activities">
      <img class="pic" alt="art" src="{{ act.image }}" style="cursor: pointer; border-radius: 10px"
        (click)="selectActivity(act)" *ngIf="act.image" />
      <p>{{ act.name }} {{ act.description }}</p>
      <div *ngIf="act.selected" class="selected"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <button type="button" id="form-button" title="Agregar una nueva actividad" (click)="toggleActivityForm()">
        Crear actividad
      </button>
      <app-newActivity (activityAdded)="createActivity($event); toggleActivityForm()"
        *ngIf="showNewActivityForm"></app-newActivity>
    </div>
  </div>
</div>