.container {
    max-width: 100%;
    padding: 1rem;
}

.row {
    background-color: #ed92c5;
    margin: 3px 0px;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: #ffffff;
}

@media (min-width: 768px) {

    .container {
        margin: 0 auto;
        max-width: 95%;
    }
}