<div class="container text-center">

  <div class="row">
    <section class="login col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h2>Crear</h2>
      <p>Inicia Sesión como Administrador</p>
      <button (click)="loginAsAdmin()">Iniciar Sesión</button>
    </section>


    <section class="join col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h2>Unirse</h2>
      <p>Ingresa el Código del Juego:</p>
      <input type="text" (ngModel)="(gameUrl)" placeholder="" />
      <button (click)="joinGame()">Unirse</button>
    </section>
  </div>
  
</div>
